@import '../../variables';

.auth {
  &__form {
    max-width: 500px;
    transform: translate(-50%, -75%);
    background-color: $light-gray;
    border-radius: 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 34px;
    color: $black;
  }

  &__error {
    top: -20px;
    font-size: 12px;
  }

  &__group {
    margin: 0 auto;
  }

  &__label {
    margin-right: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: right;
    color: $secondary;
  }

  &__input {
    width: 300px;
  }

  &__btn .button-text {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .auth {
    &__form {
      width: 90%;
    }

    &__input {
      width: 100%;
    }
  }
}
