@import '../../variables';

.auth {
  &__form {
    width: 500px;
    transform: translate(-50%, -100%);
    background-color: $light-gray;
    border-radius: 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 34px;
    color: $black;
  }

  &__error {
    top: -20px;
    font-size: 12px;
  }

  &__group {
    width: 300px;
    margin: 0 auto;
  }

  &__label {
    top: 50%;
    left: -65px;
    transform: translateY(-50%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: right;
    color: $secondary;
  }

  &__btn .button-text {
    font-size: 14px;
  }
}
