# Папки
node_modules/
dist/
coverage/
.nyc_output/
.temp/

# Файлы
.DS_Store
.env
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Редакторы
.idea/
.vscode/
*.swp
*.swo

# Кэш и временные файлы
.cache/
.tmp/
*.tmp

# Автогенерируемые файлы
.sass-cache/
*.css.map
*.js.map