@import '../../variables';

.button {
  padding: 14px 21px;
  background: $primary;
  border-radius: 7px;
  border: none;
  outline: none;
  transition: 0.3s ease;

  &-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 143%;
    text-align: center;
    color: $white;
  }

  &-bg {
    border-radius: 7px;
    transition: 0.3s ease;
  }

  &:focus &-bg,
  &:hover &-bg {
    background: rgba($white, 0.3);
  }

  &:active &-bg {
    background: rgba($black, 0.3);
  }
}
