@import '../../variables';

.ts-control {
  padding: 10px 16px;
  border: 1px solid $gray;
}

.ts-control input {
  display: none;
}

.select-container {
  width: 300px;
}

.ts-wrapper.single .ts-control,
.ts-wrapper.single .ts-control input::placeholder {
  color: $dark;
}

.focus .ts-control {
  box-shadow: none;
  border-color: $primary;
}
