$primary: #116acc;
$secondary: #182233;
$success: #76ca66;
$info: #a0c3ff;
$warning: #ffc107;
$danger: #fd4e5d;
$light: #f8f9fa;
$dark: #374151;

$body-bg: #ffffff;
$body-color: #000000;
$drop-color: rgba(0, 0, 0, 0.25);
$gray: #9ca3af;
$light-gray: #f3f4f6;
$dark-gray: #6b7280;
