$primary: #116ACC;
$secondary: #182233;   
$success: #76CA66;      
$info: #A0C3FF;          
$warning: #ffc107;     
$danger: #FD4E5D;  
$light: #f8f9fa;     
$dark: #374151;  

$body-bg: #ffffff;   
$body-color: #000000;
$drop-color: rgba(0, 0, 0, .25);
$gray: #9CA3AF;
$light-gray: #F3F4F6;
$dark-gray: #6b7280;