@import 'normalize.css';
@import 'variables';
@import 'skeleton-screen-css';
@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Medium'),
    url('assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src:
    local('Ubuntu-Regular'),
    url('assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
    url('assets/fonts/Ubuntu-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src:
    local('Ubuntu-Medium'),
    url('assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
    url('assets/fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    local('WorkSans-Light'),
    url('assets/fonts/WorkSans-Light.woff2') format('woff2'),
    url('assets/fonts/WorkSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    local('WorkSans-Regular'),
    url('assets/fonts/WorkSans-Regular.woff2') format('woff2'),
    url('assets/fonts/WorkSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    local('WorkSans-Medium'),
    url('assets/fonts/WorkSans-Medium.woff2') format('woff2'),
    url('assets/fonts/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    local('WorkSans-SemiBold'),
    url('assets/fonts/WorkSans-SemiBold.woff2') format('woff2'),
    url('assets/fonts/WorkSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src:
    local('WorkSans-Bold'),
    url('assets/fonts/WorkSans-Bold.woff2') format('woff2'),
    url('assets/fonts/WorkSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'WorkSans', sans-serif;
}

body {
  background-color: $body-bg;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 120px;
  width: 100%;
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 34px;
  color: $black;
}

.subtitle {
  font-weight: 700;
  font-size: 20px;
  color: $black;
}

.box {
  border-radius: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.gray-box{
  border-radius: 50px;
  background-color: $light-gray;
}

.currency {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: $black;
}

.currency-value {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: $black;
}

.dots {
  flex-grow: 1;
  border-bottom: 1px dotted $black;
  margin-bottom: 3px;
  min-width: 20px;
}
